    {% extends "base.html" %}

    {% block content %} 

    {% block title %}<h1>Detalle del Socio</h1>{% endblock title %}

    <div class="container mt-4">
    <div class="detalle">
        
        <p><strong>Cédula:</strong> {{ socio.cedula }}</p>
        <p><strong>Nombre:</strong> {{ socio.nombre }} {{ socio.apellido }}</p>
        <p><strong>Edad:</strong> {{ edad }} años</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ socio.fecha_nacimiento }}</p>
        <p><strong>Fecha de Ingreso:</strong> {{ socio.fecha_ingreso }}</p>
        <p><strong>Foto:</strong><br>
            {% if socio.foto %}
                <img class="img-thumbnail" width="100" src="{{ socio.foto.url }}" alt="Foto del socio">
            {% else %}
                Sin foto disponible
            {% endif %}
        </p>
        <br>
        <a href="{% url 'socio_list' %}">← Volver al listado</a>
    </div>
</div>

{% endblock content %} 
